.lead {
  font-weight: 400;
}

div.Ex object.StateMachine {
  scale: 1.2;
}

div.sm-vars code {
  border: 1px solid #d63384;
  padding: 2px;
}

div.SS_TEMPLATE_CONTENT_LEFT {
  margin-bottom: 45px;
}

div.Ex09 div.SS_TEMPLATE_CONTENT_LEFT,
div.Ex08 div.SS_TEMPLATE_CONTENT_LEFT,
div.Ex05 div.SS_TEMPLATE_CONTENT_LEFT,
div.Ex04 div.SS_TEMPLATE_CONTENT_LEFT,
div.Ex03 div.SS_TEMPLATE_CONTENT_LEFT
{
  margin-bottom: 60px;
}

div.Ex10 div.SS_TEMPLATE_CONTENT_LEFT,
div.Ex06 div.SS_TEMPLATE_CONTENT_LEFT {
  margin-bottom: 80px;
}

.SS_HIDE_WHILE_LOADING {
  visibility: hidden;
}
