.lead {
  font-weight: 400;
}

code {
  white-space: nowrap;
}

div.bg-dark.text-secondary {
  color: #ccc !important;
}

.ss-standout {
  color: #198754;
}

.ss-standout a {
  color: inherit;
  font-weight: bold;
}

div.Ex object.StateMachine {
  scale: 1.2;
}

div.sm-vars code {
  border: 1px solid #d63384;
  padding: 2px;
}

div.SS_TEMPLATE_CONTENT_LEFT {
  margin-bottom: 45px;
}

div.Ex12 div.SS_TEMPLATE_CONTENT_LEFT,
div.Ex11 div.SS_TEMPLATE_CONTENT_LEFT,
div.Ex09 div.SS_TEMPLATE_CONTENT_LEFT,
div.Ex08 div.SS_TEMPLATE_CONTENT_LEFT,
div.Ex07 div.SS_TEMPLATE_CONTENT_LEFT,
div.Ex06 div.SS_TEMPLATE_CONTENT_LEFT,
div.Ex05 div.SS_TEMPLATE_CONTENT_LEFT,
div.Ex04 div.SS_TEMPLATE_CONTENT_LEFT,
div.Ex03 div.SS_TEMPLATE_CONTENT_LEFT
{
  margin-bottom: 60px;
}

div.Ex10 div.SS_TEMPLATE_CONTENT_LEFT {
  margin-bottom: 70px;
}

.SS_HIDE_WHILE_LOADING {
  visibility: hidden;
}
